body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 8px;
}

select {
  border: 1px solid #ccc;
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Digital";
  src: url("fonts/digital-7.mono.ttf") format("truetype");
}

@font-face {
  font-family: "Sweeper";
  src: url("fonts/mine-sweeper.ttf") format("truetype");
}
